# Виртуальные окружения
.venv/
venv_dev/
/venv/

# Результаты работы PyInstaller
/dist/
/build/
*.spec

# Временные файлы и настройки PyCharm
.idea/
__pycache__/
*.pyc
*.pyo

# Локальные файлы
/.env
/debug.log
/sbkernel2201.log
/requirements-dev.txt
/dump_*.sql

# Пользовательские файлы и ресурсы проекта
/ticket.pdf
/platforms/
/db/alembic/

# Тесты
/pytest.ini
/htmlcov/
/.coveragerc
/.coverage