alembic==1.7.5
greenlet==1.1.2
importlib-metadata==4.10.1
Mako==1.1.6
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
python-dateutil==2.8.2
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.29
typing-extensions==4.0.1
zipp==3.7.0
PySide6==6.2.2.1
shiboken6==6.2.2.1
loguru==0.5.3
